<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
            <i class="bi bi-house"></i>
            Home page
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/login">
            <i class="bi bi-box-arrow-in-right"></i>
            Sign In
          </a>
        </li>
        <hr class="nav-item mt-5">
        <li class="nav-item fixed-bottom mb-3">
          <a class="nav-link" href="/addpage">
            <i class="bi bi-bag-plus-fill"></i>
            Add Product // by admin
          </a>
        </li>

      </ul>
      
    </div>
  </nav>