<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome to My Store</h1>
        <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>
</main>
  <section class="products py-5">
  <div class="container">
      <div class="section-title text-left mb-20 pt-20" style="padding-left: 1px; padding-right: 1px;">
        <h2>Product</h2>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Types
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">เสื้อ</a></li>
            <li><a class="dropdown-item" href="#">กางเกง</a></li>
            <li><a class="dropdown-item" href="#">รองเท้า</a></li>
          </ul>
        </div>
        <div class="row">
          <ul class="products-grid">

            </ul>
        </div>
      </div>
    </div>
  </section>
<footer class="text-body-secondary py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.3/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>
